$old-header-font: "Old Standard TT", serif;
$old-border-color: rgb(92, 90, 90);
$old-border: 5px double $old-border-color;

h1, h3 {
    margin: 0 !important;
    font-weight: 700 !important;
}

* {

  font-family: $old-header-font;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;

}

.wrapper {
  min-height: 100%;
}

header {
  border: $old-border;
}

.old-header {
  font-family: $old-header-font;
}

section {
  padding-bottom: 30px;
}

.banner-wrapper {
  width: 100%;
  height: 75px;
  overflow: hidden;
  position: relative;

  .banner {
    background-image: url("../../assets/images/vintage-banner.jpg");
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 75px;
  }
}

.section {
    border: $old-border;
    display: flex;
    flex-direction: column;
}

.footer-container {
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 0 1rem 0;
}
